body {
    max-width: 1024px;
    text-align: center;
}
h1 {
    background-color: antiquewhite;
}
h2 {
    background-color: antiquewhite;
}
.comments {
    font-style: italic;
}
footer {
    background-color: antiquewhite;
}
img {
    float: right;
    margin: 0 100px 0 80px;
}
div {
    width: 1024px;
    height: 145px;
    text-align: right;
    font-weight: bold;
}
